<body class="hold-transition login-page">
<div class="login-box">

    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <div class="login-logo">
                <b>Ticket System</b>
            </div>
            <form action="/users/login" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="user_email" placeholder="Kullanıcı Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="user_password" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                {{#if err}}

                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{err}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {{/if}}
                <div class="row">
                    <div class="col-4">
                        <a href="/users/register" type="submit" class="btn btn-primary btn-block">Kayıt Ol</a>
                    </div>
                    <div class="col-md-4"></div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-success btn-block">Giriş Yap</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->


</body>
